h1{
background-color:black;
padding:7vw;
color:green;
}
img[alt="Mr Programmer"]{
width:40vw;
border-radius:50%;
}
#ai{

width:100%;
}

h1{
margin:0vw;
text-align:center;
}
h4{
margin-bottom:0px;
color:green;
text-align:center;}