


h1{
margin: 0px;
width:100%;
padding:5px;
margin:0px;
color:LimeGreen;
background-color:rgba(0,0,0,0.9);
}


.underText{
color:silver;
font-size:10px;}
a{
color:DimGray
}
#ai{

width:100%;
margin:50px 0px;
}
a[href=""]{
color:SteelBlue;
text-decoration:none;
}
.intro{
color:RoyalBlue;
}

.content{
color:CornFlowerBlue;
}
footer{
text-align:center;
color:black;
font-size:10px;

}
img[alt="Mr Programmer"]{
width:20vw;
border-radius:50%;
}
*{
text-height:20px; 
}
body{
margin:0px;
padding:0px;
}
h4{
margin-bottom:0px;
color:green;}